@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.App-header a {
  color: white;
}

.App-header nav ul li {
  display: inline;
  padding: 10px;
}

.App-content {
  width: 95%;
  max-width: 1024px;
  margin: 0 auto;
}

.App-content .TideLocationMap .mapboxgl-canvas {
  position: relative !important;
  width: 100% !important;
  height: 300px !important;
}
