.TideTable .Tides th {
  background-color: #fff;
  border-bottom: 1px solid #999;
  font-weight: bold;
  padding: 8px;
}
.TideTable .Tides td {
  padding: 8px;
}
.TideTable .Tides tr:nth-child(even) {
  background-color: #f7f7f7;
}
.TideTable .ant-table-footer {
  padding: 8px;
  text-align: left;
}
